<div class="contenido">

  <ion-grid>

    <ion-row>

      <ion-col size ="12" size-lg="6">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Diseñamos Interfaces Minimalistas Que Encantan y Captivan</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </ion-card-content>

          <div class="botones">
            <ion-button routerLink="/contactos" class="btn-comunicate">COMUNICATE</ion-button>
            <ion-button routerLink="/portafolio" color="medium">PORTAFOLIO</ion-button>
          </div>

        </ion-card>

      </ion-col >

      <ion-col class="col-img" size ="12" size-lg="6">
          <ion-img src="../../../assets/img/caratula2.png"> </ion-img>
      </ion-col>

    </ion-row>

  </ion-grid>



</div>
