
<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="medium" autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-thumbnail slot="start">
      <ion-img src='assets/img/logo.png'></ion-img>
    </ion-thumbnail>

    <div slot="end" class="links">
        <a routerLink="/home">INICIO</a>
        <a routerLink="/portafolio">PORTAFOLIO</a>
        <a routerLink="/contactos" class="contactos">CONTACTOS</a>
    </div>

  </ion-toolbar>

</ion-header>
